#generator {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  margin: 1em auto;
  text-align: center;
  width: 55%;
  height: 280px;
  border: 3px solid #ddd;
  border-radius: 30px;
}
#pictures {
  width: 55%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  color: blue;
  font-size: 200%;
}
button {
  width: 40%;
  height: 50px;
  color: blue;
  font-size: 160%;
  border: 1px solid blue;
  border-radius: 15px;
  background-color: #efefef;
}
button:hover {
  color: red;
  border-color: red;
  cursor: pointer;
}
form button {
  width: 150px;
  height: 30px;
  font-size: 1em;
}
p {
  color: blue;
  font-size: 120%;
}
span {
  color: red;
  font-size: 140%;
}
form {
  width: 55%;
  margin: 0 auto 20px auto;
}
fieldset {
  border-radius: 10px;
}